@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.main-container {
  padding: 50px 0 0 0;
}

.event-title {
  cursor: pointer;
}

.media-list {
  border-top: 1px solid #eee;
  padding-top: 10px;
}
.media-icon {
  width: 2.5em;
  border-radius: 50%;
  margin-right: 10px;
}

.data-panel {
  margin-top: 10px;
}

.globe-button {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.l7-ctrl-logo {
  display: none !important;
}

.ant-alert-description {
  white-space: pre-line;
}

.ant-tabs {
  margin-top: 1em;
}

.news-li a,
.progress-info div {
  margin-right: 0.4em;
}

.progress-panel {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}

.progress-wrapper {
  width: 95%;
}

.progress-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-timeline-item-label {
  width: calc(30% - 12px) !important;
}
.ant-timeline-item-content {
  left: calc(30% - 10px) !important;
  cursor: pointer;
}
.ant-timeline-item-content:hover {
  color: black;
}
.ant-timeline-item-tail {
  left: 30% !important;
}

.ant-timeline-item-head,
.ant-timeline-item-head-blue {
  left: 30% !important;
}

.ant-timeline-item {
  font-size: 16px;
  /* font-weight: bold; */
  /* font-style:italic; */
  /* font-family: cursive; */
}
